
<div class=" content" dir="rtl">
  <div class="row" id="hideFind">
    <div class="card">
      <div class="card-header text-right">
        <h1>صدور شناسنامه موکب</h1>
      </div>
      <div class="card-body">
        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="شناسه موکب" [(ngModel)]="id">
            </div>
          </div>
          <div class="col">
            <button class="btn btn-default" (click)="getMokeb()">جستجو</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="showDetail">
    <div class="card text-right">
      <div class="card-header">
        <h1>مشخصات موکب</h1>
      </div>
      <div class="card-body">
        <div class="row form-row">
          <div class="col-6">
            <ul style="list-style: none;">
              <li style="text-align: right;"> شماره سند موکب: {{selectedData.id}}</li>
              <li style="text-align: right;"> نام موکب: {{selectedData.name}}</li>
              <li style="text-align: right;"> نام مدیر موکب: {{selectedData.admin_detail_org}}</li>
              <li style="text-align: right;"> تصویر امضای مدیر موکب: <a href="{{selectedData.sign}}">مشاهده</a></li>
            </ul>
          </div>
          <div class="col-6">
            <ul style="list-style: none;">
              <li style="text-align: right;"> نوع موکب: {{selectedData.status_org}}</li>
              <li style="text-align: right;"> محل استقرار موکب: {{selectedData.location}}</li>
              <li style="text-align: right;"> وضعیت موکب: {{selectedData.status}}</li>
              <li style="text-align: right;"> تصویر صفحه درخواست موکب: <a href="{{selectedData.request_page}}">مشاهده</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card-header">
        <button class="btn" (click)="printMokeb()">پرینت</button>
      </div>
    </div>
  </div>
</div>
