
<div class=" content" dir="rtl">
  <div class=" row">
    <div class="col-md-1"></div>
    <div class=" col-md-9">
      <div class="text-right card">
        <div class="card-header"><h5 class=" title">صدور شناسنامه موکب</h5></div>
        <div class="card-body">
          <form>
            <div class="row form-row">
              <div class="col-6">
                <div class="from-group">
                  <label>شماره ثبت موکب</label>
                  <input type="tel" class="form-control">
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <button class=" btn btn-fill btn-info" type="submit">نمایش موکب</button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class=" card-footer">
          <button class=" btn btn-fill btn-danger" type="submit">پرینت A4</button>
          <button class=" btn btn-fill btn-danger" type="submit">پرینت A5</button>
        </div>
      </div>
    </div>
  </div>
</div>
