
<div class=" content" dir="rtl">
  <div class=" row">
    <div class="col-md-1"></div>
    <div class=" col-md-10">
      <div class="text-right card">
        <div class="card-header"><h5 class=" title">ایجاد نامه ارسالی</h5></div>
        <div class="card-body">
          <form>
            <div class="row form-row">
              <div class="col">
                <button class="btn btn-fill btn-success" type="submit" (click)="filter(1)">قالب فارسی</button>
              </div>
              <div class="col">
                <button class="btn btn-fill btn-success" type="submit" (click)="filter(0)">قالب عربی</button>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6" *ngIf="persian_template">
                <div class="form-group">
                  <dp-date-picker
                    name="date_dabirkhane"
                    dir="rtl" mode="day"
                    placeholder="تاریخ"
                    theme="dp-material"
                    class="new-dp"
                    style="background: transparent!important;"
                  ></dp-date-picker>
                </div>
              </div>
              <div class="col-md-6" *ngIf="arabic_template">
                <div class=" form-group">
                  <label> تاریخ </label>
                  <input
                    name="last_name"
                    class=" form-control"
                    type="date"
                  />
                </div>
              </div>
            </div>
            <div class="row form-row">
              <div class="col-4">
                <div class=" form-group">
                  <label>پیوست</label>
                  <select class="form-control">
                    <option class=" form-control" style="background: transparent; color: black">صلوات</option>
                    <option class=" form-control" style="background: transparent; color: black">صلوات</option>
                    <option class=" form-control" style="background: transparent; color: black">صلوات</option>
                  </select>
                </div>
              </div>
              <div class="col-4">
                <div class=" form-group">
                  <label>مکان دریافت</label>
                  <select class="form-control">
                    <option class=" form-control" style="background: transparent; color: black">انتخاب کنید</option>
                    <option class="form-control" *ngFor="let location of list_location"
                            style="background: transparent; color: black">{{location.name}}</option>
                  </select>
                </div>
              </div>
              <div class="col-4">
                <div class=" form-group">
                  <label>شخص دریافت</label>
                  <select class="form-control">
                    <option class=" form-control" style="background: transparent; color: black">انتخاب کنید</option>
                    <option class=" form-control" *ngFor="let user_receiver of list_user_receive"
                            style="background: transparent; color: black">{{user_receiver.name}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row form-row">
              <div class="col-4">
                <div class=" form-group">
                  <label> موضوع نامه </label>
                  <select class="form-control">
                    <option class=" form-control" style="background: transparent; color: black">انتخاب کنید</option>
                    <option class=" form-control" *ngFor="let subject of list_subject"
                            style="background: transparent; color: black">{{subject.text}}</option>
                  </select>
                </div>
              </div>
              <div class="col-4">
                <div class=" form-group">
                  <label>متن پیش نویس</label>
                  <select class="form-control">
                    <option class=" form-control" style="background: transparent; color: black">صلوات</option>
                    <option class=" form-control" style="background: transparent; color: black">صلوات</option>
                    <option class=" form-control" style="background: transparent; color: black">صلوات</option>
                  </select>
                </div>
              </div>
              <div class="col-4">
                <div class=" form-group">
                  <label>امضا کننده</label>
                  <select class="form-control">
                    <option class=" form-control" style="background: transparent; color: black">انتخاب کنید</option>
                    <option class=" form-control" *ngFor="let user_assign of list_user_assign"
                            style="background: transparent; color: black">{{user_assign.first_name}}&nbsp;{{user_assign.last_name}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <angular-editor [placeholder]="'Enter text here...'" [config]="editorConfig"></angular-editor>
              </div>
            </div>
          </form>
        </div>
        <div class=" card-footer">
          <button class="btn btn-fill btn-danger" type="submit">ثبت نامه</button>
        </div>
      </div>
    </div>
  </div>
</div>
