<div class=" content" dir="rtl">
  <div class=" row">
    <div class="col-md-1"></div>
    <div class=" col-md-10">
      <div class="text-right card">
        <div class="card-header"><h5 class=" title">ایجاد نامه ارسالی</h5></div>
        <div class="card-body">
          <div style="margin-bottom: 20px;" class="row form-row">
            <div class="col-6">
              <button class="btn btn-default w-100" (click)="select_template('0')">قالب عربی</button>
            </div>
            <div class="col-6">
              <button class="btn btn-default w-100" (click)="select_template('1')">قالب فارسی</button>
            </div>
          </div>
          <div class="row form-row">
            <div class="col-4">
              <div class=" form-group">
                <label> موضوع نامه </label>
                <select class="form-control" #preTextSelect [(ngModel)]="createSendPaper.subject"
                        name="subject" (change)="on_change_subject(preTextSelect.value)">
                  <option style="background: transparent; color: black"> انتخاب کنید</option>
                  <option class=" form-control" *ngFor="let subject of listSubject" [value]="subject.id"
                          style="background: transparent; color: black">{{subject.text}}</option>
                </select>
              </div>
            </div>
            <div class="col-4">
              <label> متن پیش نویس </label>
              <select class="form-control" name="pre_text" #selectedPreText
                      [disabled]="selectPreTextDisable == 0" (change)="on_change_pre_text(selectedPreText.value)">
                <option style="background: transparent; color: black"> انتخاب کنید</option>
                <option class=" form-control" *ngFor="let pretext of preTextArray" [value]="pretext.text"
                        style="background: transparent; color: black">{{pretext.subject_text}}</option>
              </select>
            </div>
            <div class="col-4">
              <div class=" form-group">
                <label>تعداد پیوست</label>
                <select #mySelect class="form-control"
                        (change)="select_attachment_number(mySelect.value)"
                        [disabled]="selectPreTextCountDisable == 0">
                  <option style="background: transparent; color: black"> انتخاب کنید</option>
                  <option class=" form-control" style="background: transparent; color: black" [value]="0">صلوات</option>
                  <option class=" form-control" style="background: transparent; color: black" [value]="1">۱ برگ</option>
                  <option class=" form-control" style="background: transparent; color: black" [value]="2">۲ برگ</option>
                  <option class=" form-control" style="background: transparent; color: black" [value]="3">۳ برگ</option>
                  <option class=" form-control" style="background: transparent; color: black" [value]="4">۴ برگ</option>
                  <option class=" form-control" style="background: transparent; color: black" [value]="5">۵ برگ</option>
                  <option class=" form-control" style="background: transparent; color: black" [value]="6">۶ برگ</option>
                  <option class=" form-control" style="background: transparent; color: black" [value]="7">۷ برگ</option>
                  <option class=" form-control" style="background: transparent; color: black" [value]="8">۸ برگ</option>
                  <option class=" form-control" style="background: transparent; color: black" [value]="9">۹ برگ</option>
                  <option class=" form-control" style="background: transparent; color: black" [value]="10">۱۰ برگ
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="row form-row">
            <div class="col-4">
              <div class=" form-group">
                <label>امضا کننده</label>
                <select class="form-control" name="user_sign" [(ngModel)]="createSendPaper.sign">
                  <option style="background: transparent; color: black"> انتخاب کنید</option>
                  <option class=" form-control"
                          *ngFor="let user_assign of listUserAssign"
                          [value]="user_assign.id"
                          style="background: transparent; color: black">
                    {{user_assign.first_name}}&nbsp;{{user_assign.last_name}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-4">
              <div class=" form-group">
                <label>مکان دریافت</label>
                <select class="form-control" #locationSelect (change)="on_change_location(locationSelect.value)">
                  <option style="background: transparent; color: black"> انتخاب کنید</option>
                  <option class="form-control"
                          *ngFor="let location of listLocation"
                          [value]="location.id"
                          style="background: transparent; color: black">{{location.name}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-4">
              <div class=" form-group">
                <label>شخص دریافت</label>
                <select class="form-control" name="user" [(ngModel)]="createSendPaper.user"
                        [disabled]="selectReceiveUserDisable == 0">
                  <option style="background: transparent; color: black"> انتخاب کنید</option>
                  <option class=" form-control"
                          *ngFor="let user_receiver of listUserReceive"
                          [value]="user_receiver.id"
                          style="background: transparent; color: black">
                    {{user_receiver.name}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="row form-row">
            <div class="col-md-6">
              <label> تصویر پیوست </label>
              <input
                class="form-control"
                name="imageAttachment"
                accept="*/*"
                type="file"
                id="imageAttachment"
              />
            </div>
            <div class="col-md-6" *ngIf="europeSelected">
              <div class="form-group">
                <label> تاریخ </label>
                <input
                  class=" form-control" required
                  name="date"
                  type="date"
                  [(ngModel)]="europeDate"
                />
              </div>
            </div>
            <div class="col-md-6" *ngIf="persianSelected">
              <div class="form-group">
                <label> تاریخ </label>
                <dp-date-picker
                  [(ngModel)]="persianDate"
                  name="date"
                  dir="rtl" mode="day"
                  theme="dp-material"
                  style="background: transparent!important;"
                  class="form-control"
                ></dp-date-picker>
              </div>
            </div>
          </div>
          <div class="row form-row" *ngIf="showTextEditor">
            <div class="col-12">
              <ckeditor [config]="editorConfig" [editor]="Editor" [(ngModel)]="createSendPaper.text" name="text"></ckeditor>
            </div>
          </div>
          <div class="row form-row">
            <div class="col-12">
              <hr style="">
            </div>
          </div>
          <div class="row form-row" *ngFor="let item of attachmentArray; let indexOf=index" style="margin-bottom: 60px;">
            <div class="col-md-12">
              <ckeditor
                [config]="editorConfig" [editor]="Editor" name="text"
                [(ngModel)]="attachment[indexOf]" name="text + {{indexOf}}"></ckeditor>
            </div>
          </div>
        </div>
        <div class=" card-footer">
          <button class="btn btn-fill btn-info" type="submit" (click)="create_send_paper()">ثبت نامه</button>
        </div>
      </div>
    </div>
  </div>
</div>
