<div class="content" dir="rtl">
  <div class="card text-center">
    <div class="card-header">
      <div class="row"></div>
      <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
          <p style="font-size: 14px">بسمه تعالی</p>
        </div>
        <div class="col-4"></div>
      </div>
    </div>
    <div class="card-body" id="contentToConvert" >
      <div class="row">
        <div class="col-1"></div>
        <div class="col-5">
          <p style="font-size: 14px; font-weight: bold; text-align: right">{{listSendPaper['user']['location'].name}}</p>
        </div>
        <div class="col-5"></div>
        <div class="col-1"></div>
      </div>
      <div class="row"><div class="col"></div></div>
      <div class="row">
        <div class="col-1"></div>
        <div class="col-5">
          <p style="font-weight: bold; font-size: 14px; text-align: right">موضوع: &nbsp;{{listSendPaper['subject'].text}}</p>
        </div>
        <div class="col-5"></div>
        <div class="col-1"></div>
      </div>
      <div class="row">
        <div class="col-1"></div>
        <div class="col-10" style="color: black; font-size: 11px; text-align: justify !important;">
          <p [innerHTML]="listSendPaper.text" style="font-size: 14px;"></p>
        </div>
        <div class="col-1"></div>
      </div>
      <div class="row"><div class="col"></div></div>
      <div class="row"><div class="col"></div></div>
      <div class="row"><div class="col"></div></div>
      <div class="row"><div class="col"></div></div>
      <div class="row text-center" style="margin-top: 20px;">
        <div class="col-4"></div>
        <div class="col-4"></div>
        <div class="col-4">
          <p style="font-size: 12px; font-weight: bold;" >با کمال تشکر</p>
          <p style="font-size: 12px; font-weight: bold;" >مدیریت مرکز جهانی آل البیت (ع)</p>
          <p style="font-size: 12px; font-weight: bold;" >{{listSendPaper['user'].name}}</p>
        </div>
      </div>
    </div>
  </div>
  <div style="margin-top: 20px" class="card text-center">
    <div class="card-footer">
      <div class="row">
        <div class="col">
          <button class="w-100 btn btn-info" (click)="captureScreen()">پرینت</button>
        </div>
        <div class="col">
          <button class="w-100 btn btn-warning">اصلاح نامه</button>
        </div>
        <div class="col">
          <button class="w-100 btn btn-success">امضا نامه</button>
        </div>
      </div>
    </div>
  </div>
</div>
