<div class="content" dir="rtl">
  <div class="card text-center">
    <div class="card-header">
      <div class="row"></div>
      <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
          <p style="font-size: 14px">بسمه تعالی</p>
        </div>
        <div class="col-4"></div>
      </div>
    </div>
    <div class="card-body" id="contentToConvert" >
      <div class="row">
        <div class="col-1"></div>
        <div class="col-5">
          <h1 style="font-size: 14px; font-weight: bold; text-align: right">{{listSendPaper['user']['location'].name}}</h1>
        </div>
        <div class="col-5"></div>
        <div class="col-1"></div>
      </div>
      <div class="row"><div class="col"></div></div>
      <div class="row">
        <div class="col-1"></div>
        <div class="col-5">
          <h1 style="font-weight: bold; font-size: 14px; text-align: right">موضوع: &nbsp;{{listSendPaper['subject'].text}}</h1>
        </div>
        <div class="col-5"></div>
        <div class="col-1"></div>
      </div>
      <div class="row">
        <div class="col-1"></div>
        <div class="col-10" style="color: black; font-size: 11px; text-align: justify !important;">
          <p [innerHTML]="listSendPaper.text" style="font-size: 14px;">
          <p *ngFor="let attachment of listSendPaper.attachment" [innerHTML]="attachment.text" style="font-size: 14px;"></p>
        </div>
        <div class="col-1"></div>
      </div>
      <div class="row"><div class="col"></div></div>
      <div class="row"><div class="col"></div></div>
      <div class="row"><div class="col"></div></div>
      <div class="row"><div class="col"></div></div>
      <div class="row text-center" style="margin-top: 20px;">
        <div class="col-4"></div>
        <div class="col-4"></div>
        <div class="col-4">
          <p style="font-size: 12px; font-weight: bold;" >با کمال تشکر</p>
          <p style="font-size: 12px; font-weight: bold;" >مدیریت مرکز جهانی آل البیت (ع)</p>
          <p style="font-size: 12px; font-weight: bold;" >{{listSendPaper['user'].name}}</p>
        </div>
      </div>
    </div>
  </div>
  <div style="margin-top: 20px" class="card text-center">
    <div class="card-footer">
      <div class="row">
        <div class="col">
          <button class="w-100 btn btn-outline-dark" (click)="printA4Arabic()">پرینت A4 عربی</button>
        </div>
        <div class="col">
          <button class="w-100 btn btn-outline-dark" (click)="printA5Arabic()">پرینت A5 عربی</button>
        </div>
        <div class="col">
          <button class="w-100 btn btn-outline-dark" (click)="printA4Persian()">پرینت A4 فارسی</button>
        </div>
        <div class="col">
          <button class="w-100 btn btn-outline-dark" (click)="printA5Persian()">پرینت A5 فارسی</button>
        </div>
      </div>
    </div>
  </div>
  <div style="margin-top: 20px" class="card text-center">
    <div class="card-footer">
      <div class="row">
        <div class="col" *ngIf="listSendPaper.status == 0">
          <a [routerLink]="['/edit-paper/'+id]" class="w-100 btn btn-default">اصلاح نامه</a>
        </div>
        <div class="col" *ngIf="listSendPaper.status == 0">
          <button class="w-100 btn btn-danger" (click)="acceptPaper(listSendPaper.id, '-1')"> رد نامه </button>
        </div>
        <div class="col" *ngIf="listSendPaper.status == 0">
          <button class="w-100 btn btn-success" (click)="acceptPaper(listSendPaper.id, '1')">امضا نامه</button>
        </div>
      </div>
    </div>
  </div>
</div>
