<div class="content" dir="rtl" style="text-align: right">
  <div class=" row" dir="rtl">
    <div class="col-md-1"></div>
    <div class="col-md-11">
      <div class="card">
        <div class="card-header">
          <h1>ایجاد پرونده اقامت جدید</h1>
        </div>
        <div class="card-body">
          <h3>مشخاصت مقیم</h3>
          <div class="row form-row">
            <div class="col-3">
              <div class="form-group">
                <label>نام</label>
                <input class="form-control">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                <label>نام خانوادگی</label>
                <input class="form-control">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                <label>نام پدر</label>
                <input class="form-control">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                <label>تابیعت</label>
                <input class="form-control">
              </div>
            </div>
          </div>
          <div class="row form-row">
            <div class="col-3">
              <div class="form-group">
                <label>شماره گذرنامه</label>
                <input class="form-control">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                <label>محل سکونت</label>
                <input class="form-control">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                <label>تلفن همراه</label>
                <input class="form-control">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                <label>معرفت</label>
                <input class="form-control">
              </div>
            </div>
          </div>
          <div class="row form-row">
            <div class="col">
              <hr style="width: 100%; color: grey;">
            </div>
          </div>
          <h3>مشخاصت وابستگان</h3>
          <div class="row form-row">
            <div class="col-3">
              <div class="form-group">
                <label>نام</label>
                <input class="form-control">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                <label>نام خانوادگی</label>
                <input class="form-control">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                <label>تلفن همراه</label>
                <input class="form-control">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                <label>تابیعت</label>
                <input class="form-control">
              </div>
            </div>
          </div>
          <div class="row form-row">
            <div class="col">
              <hr style="width: 100%; color: grey;">
            </div>
          </div>
          <h3>اسناد مقیم</h3>
          <div class="row form-row">
            <div class="col-4">
                <label> تصویر مقیم </label>
                <input #imageInput
                       type="file"
                       accept="image/*"
                       class="form-control"
                />
            </div>
            <div class="col-4">
              <label> تصویر فرم درخواست </label>
              <input #imageInput
                     type="file"
                     accept="image/*"
                     class="form-control"
              />
            </div>
            <div class="col-4">
              <label> صفحه اول گذرنامه </label>
              <input #imageInput
                     type="file"
                     accept="image/*"
                     class="form-control"
              />
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-default">ثبت شخص</button>
        </div>
      </div>
    </div>
  </div>
</div>
