<div class=" content">
  <div class="col-md-1"></div>
  <div class=" row" dir="rtl">
    <div class="col-md-1"></div>
    <div class=" col-md-11">
      <div class=" card">
        <div class=" card-header">
          <h4 class="text-right card-title">لیست نامه های ارسالی</h4>
        </div>
        <div class=" card-body">
          <div class=" table-responsive">
            <table class=" table tablesorter text-right" id="">
              <thead class=" text-primary">
              <tr>
                <th class="text-center">ردیف</th>
                <th class="text-center">شناسه ثبت موکب</th>
                <th class="text-center">نام موکب</th>
                <th class="text-center">مدیر موکب</th>
                <th class="text-center">محل استقرار موکب</th>
                <th class="text-center">عملیات</th>
              </tr>
              </thead>
              <tbody>
              <tr mdbTableCol *ngFor="let el of mokebList; let indexOf=index">
                <th class="text-center">{{indexOf}}</th>
                <td class="text-center">{{el.id}}</td>
                <td class="text-center">{{el.name}}</td>
                <td class="text-center">{{el.admin_detail_org}}</td>
                <td class="text-center">{{el.locationName}}</td>
                <th class="text-center">
                  <a [routerLink]="['/mavakeb/edit/'+el.id]">
                    <span class="tim-icons icon-pencil" style="margin-left: 20px;"></span>
                  </a>
                  <a>
                    <span class="tim-icons icon-alert-circle-exc" (click)="open(viewModal, el)" style="margin-left: 20px;"></span>
                  </a>
                  <span class="tim-icons icon-simple-remove" *ngIf="el.status"></span>
                  <span class="tim-icons icon-check-2" *ngIf="!el.status"></span>
                </th>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #viewModal let-modal dir="ltr" style="text-align: right">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">مشاهده مشخصات موکب</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body text-right">
      <div class="row">
        <div class="col-6">
          <ul style="list-style: none;">
            <li style="text-align: right;"> شماره سند موکب: {{mokebViwe.id}}</li>
            <li style="text-align: right;"> نام موکب: {{mokebViwe.name}}</li>
            <li style="text-align: right;"> نام مدیر موکب: {{mokebViwe.admin_detail_org}}</li>
            <li style="text-align: right;"> تصویر امضای مدیر موکب: <a href="{{mokebViwe.sign}}">مشاهده</a></li>
          </ul>
        </div>
        <div class="col-6">
          <ul style="list-style: none;">
            <li style="text-align: right;"> نوع موکب: {{mokebViwe.status_org}}</li>
            <li style="text-align: right;"> محل استقرار موکب: {{mokebViwe.location}}</li>
            <li style="text-align: right;"> وضعیت موکب: {{mokebViwe.status}}</li>
            <li style="text-align: right;"> تصویر صفحه درخواست موکب: <a href="{{mokebViwe.request_page}}">مشاهده</a></li>
          </ul>
        </div>
      </div>
    </div>
  </ng-template>
</div>
