<div class="content" dir="rtl" style="text-align: right">
  <div class=" row" dir="rtl">
    <div class="col-md-1"></div>
    <div class="col-md-11">
      <div class="card">
        <div class="card-header">
          <h1>ویرایش پرونده</h1>
        </div>
        <div class="card-body">
          <h3>مشخاصت مقیم</h3>
          <div class="row form-row">
            <div class="col-3">
              <div class="form-group">
                <label>نام</label>
                <input class="form-control" [(ngModel)]="data.firstName" name="firstName">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                <label>نام خانوادگی</label>
                <input class="form-control" [(ngModel)]="data.lastName" name="lastName">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                <label>نام پدر</label>
                <input class="form-control" [(ngModel)]="data.fatherName" name="fatherName">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                <label>تابیعت</label>
                <input class="form-control" [(ngModel)]="data.nation" name="nation">
              </div>
            </div>
          </div>
          <div class="row form-row">
            <div class="col-3">
              <div class="form-group">
                <label>شماره گذرنامه</label>
                <input class="form-control" [(ngModel)]="data.passportNo" name="passportNo">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                <label>محل سکونت</label>
                <input class="form-control" [(ngModel)]="data.address" name="address">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                <label>تلفن همراه</label>
                <input class="form-control" [(ngModel)]="data.phone" name="phone">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                <label>معرف</label>
                <input class="form-control" [(ngModel)]="data.introduced" name="introduced">
              </div>
            </div>
          </div>
          <div class="row form-row">
            <div class="col">
              <hr style="width: 100%; color: grey;">
            </div>
          </div>
          <div class="row form-row">
            <div class="col">
              <hr style="width: 100%; color: grey;">
            </div>
          </div>
          <h3>اسناد شخص</h3>
          <div class="row form-row">
            <div class="col">
              <label> تصویر مقیم </label>
              <input id="image"
                     type="file"
                     accept="*/*"
                     class="form-control"
                     name="image"
              />
            </div>
            <div class="col">
              <label> تصویر فرم درخواست </label>
              <input id="requestForm"
                     type="file"
                     accept="*/*"
                     class="form-control"
                     name="requestForm"
              />
            </div>
            <div class="col">
              <label> صفحه اول گذرنامه </label>
              <input id="passportonepage"
                     type="file"
                     accept="*/*"
                     class="form-control"
                     name="passportonepage"
              />
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-default" (click)="update_residence()">ثبت شخص</button>
        </div>
      </div>
    </div>
  </div>
</div>
