<div class=" content">
    <div class="col-md-1"></div>
  <div class=" row" dir="rtl">
    <div class="col-md-1"></div>
    <div class=" col-md-11">
      <div class=" card">
        <div class=" card-header">
          <h4 class="text-right card-title">لیست نامه های ارسالی</h4>
        </div>
        <div class=" card-body">
          <div class=" table-responsive">
            <table class=" table tablesorter text-center" id="">
              <thead class=" text-primary">
              <tr>
                <th *ngFor="let item of tableHead" class=" text-center">{{item}}</th>
              </tr>
              </thead>
              <tbody *ngFor="let row of listSendPaper; let indexOf=index">
                <th class=" text-center" >{{indexOf}}</th>
                <th class=" text-center" >{{row.id}}</th>
                <th class=" text-center" >{{row.organize}}</th>
                <th class=" text-center" >{{row.user}}</th>
                <th class=" text-center" >{{row.subject}}</th>
                <th class=" text-center" >
                  <a class="btn btn-lg btn-outline-primary" [routerLink]="['/view-sent-paper/'+row.id]" >مشاهده نامه</a>
                </th>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #mymodal let-modal dir="rtl" style="text-align: right">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">انجام عملیات</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="row">
      <div class="col">
        <div class="modal-body">
          <button type="button" class="btn btn-outline-dark" style="width: 100%" (click)="modal.close('Save click')">اصلاح نامه</button>
        </div>
      </div>
      <div class="col">
        <div class="modal-body">
          <button type="button" class="btn btn-outline-dark" style="width: 100%"  (click)="modal.close('Save click')">مشاهده نامه</button>
        </div>
      </div>
      <div class="col">
        <div class="modal-body">
          <button type="button" class="btn btn-outline-dark" style="width: 100%" (click)="modal.close('Save click')">پرینت A4</button>
        </div>
      </div>
      <div class="col">
        <div class="modal-body">
          <button type="button" class="btn btn-outline-dark" style="width: 100%" (click)="modal.close('Save click')">پرینت A5</button>
        </div>
      </div>
    </div>
  </ng-template>
</div>
