
.dp-material {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: transparent;
  background-color: transparent;
  //background-clip: padding-box;
  //border: 1px solid #ced4da;
  border-radius: 0.25rem;
}


.form-row {
  margin-top: 15px;
}
