<div class="logo" id="sidebar2-iman">
  <a class="simple-text logo-mini">
    <div class="logo-img">
      <img src="./assets/img/angular2-logo-white.png" />
    </div>
  </a>
  <a class="simple-text logo-normal">
    اتوماسیون اداری
  </a>
</div>
<div class="sidebar-wrapper" id="sidebar-iman">
  <ul class="nav">
    <li class=" nav-item" >
      <a class=" nav-link" [routerLink]="['/dashboard']"> داشبورد </a>
    </li>
    <li class=" nav-item" ngbDropdown>
      <a class=" nav-link" data-toggle="dropdown" href="javascript:void(0)" ngbDropdownToggle> مکاتبات اداری</a>
      <ul class=" dropdown-navbar" ngbDropdownMenu>
        <li class=" nav-link">
          <a style="color: black;" class=" nav-item" [routerLink]="['/create-send-paper']" href="javascript:void(0)" ngbDropdownItem>
            ایجاد نامه ارسالی
          </a>
        </li>
        <li style="color: black;" class=" nav-link">

          <a style="color: black;" class=" nav-item" [routerLink]="['/create-receive-paper']" href="javascript:void(0)" ngbDropdownItem>
            ایجاد نامه ورود
          </a>
        </li>
        <li style="color: black;" class=" nav-link">
          <a style="color: black;" class=" nav-item" [routerLink]="['/list-send-paper']" href="javascript:void(0)" ngbDropdownItem>
            فهرست نامه های ارسالی
          </a>
        </li>
        <li style="color: black;" class=" nav-link">
          <a style="color: black;" class=" nav-item" [routerLink]="['/list-receive-paper']" href="javascript:void(0)" ngbDropdownItem>
            فهرست نامه های ورودی
          </a>
        </li>
        <li style="color: black;" class=" nav-link">
          <a style="color: black;" class=" nav-item" [routerLink]="['/report-mokatebat']" href="javascript:void(0)" ngbDropdownItem>
            گزارش گیری
          </a>
        </li>
      </ul>
    </li>
    <li class=" nav-item" ngbDropdown>
      <a class=" nav-link" data-toggle="dropdown" href="javascript:void(0)" ngbDropdownToggle> گذرنامه و اتباع </a>
      <ul class=" dropdown-navbar" ngbDropdownMenu>
        <li class=" nav-link">
          <a style="color: black;" class=" nav-item" [routerLink]="['/create-residence']" href="javascript:void(0)" ngbDropdownItem>
            ایجاد پرونده اقامت
          </a>
          <a style="color: black;" class=" nav-item" [routerLink]="['/list-residence']" href="javascript:void(0)" ngbDropdownItem>
            فهرست پرونده های اقامت
          </a>
          <a style="color: black;" class=" nav-item" [routerLink]="['/residence/service']" href="javascript:void(0)" ngbDropdownItem>
            خدمات اقامت
          </a>
          <a style="color: black;" class=" nav-item" [routerLink]="['/passport']" href="javascript:void(0)" ngbDropdownItem>
            تمدید روادید
          </a>
          <a style="color: black;" class=" nav-item" [routerLink]="['/passport/list']" href="javascript:void(0)" ngbDropdownItem>
            فهرست روادید
          </a>
        </li>
      </ul>
    </li>
    <li class=" nav-item" ngbDropdown>
      <a class=" nav-link" data-toggle="dropdown" href="javascript:void(0)" ngbDropdownToggle>مواکب</a>
      <ul class=" dropdown-navbar" ngbDropdownMenu>
        <li class=" nav-link">
          <a style="color: black;" class=" nav-item" [routerLink]="['/create-mokeb']" href="javascript:void(0)" ngbDropdownItem>
            ایجاد موکب
          </a>
        </li>
        <li style="color: black;" class=" nav-link">

          <a style="color: black;" class=" nav-item" [routerLink]="['/list-mokeb']" href="javascript:void(0)" ngbDropdownItem>
            فهرست مواکب
          </a>
        </li>
        <li style="color: black;" class=" nav-link">
          <a style="color: black;" class=" nav-item" [routerLink]="['/create-certificate']" href="javascript:void(0)" ngbDropdownItem>
            صدور شناسنامه
          </a>
        </li>
      </ul>
    </li>
    <li class=" nav-item" ngbDropdown >
      <a class=" nav-link" data-toggle="dropdown" href="javascript:void(0)" ngbDropdownToggle> عتبات </a>
      <ul class=" dropdown-navbar" ngbDropdownMenu>
        <li style="color: black;" class=" nav-link">
          <a style="color: black;" class=" nav-item" [routerLink]="['/atabat']" href="javascript:void(0)" ngbDropdownItem>
            ایجاد عبته
          </a>
        </li>
        <li style="color: black;" class=" nav-link">
          <a style="color: black;" class=" nav-item" [routerLink]="['/atabat/list']" href="javascript:void(0)" ngbDropdownItem>
            فهرست عتبات
          </a>
        </li>
      </ul>
    </li>
    <li class=" nav-item" ngbDropdown >
      <a class=" nav-link" data-toggle="dropdown" href="javascript:void(0)" ngbDropdownToggle> تنظیمات </a>
      <ul class=" dropdown-navbar" ngbDropdownMenu>
        <li style="color: black;" class=" nav-link">
          <a style="color: black;" class=" nav-item" [routerLink]="['/mokatebat-settings']" href="javascript:void(0)" ngbDropdownItem>
            مکاتبات اداری
          </a>
        </li>
        <li style="color: black;" class=" nav-link">
          <a style="color: black;" class=" nav-item" [routerLink]="['/user-settings']" href="javascript:void(0)" ngbDropdownItem>
            دسترسی ها و کاربران
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>
