<div class="content" style="text-align: right;">
  <div class="col-md-1"></div>
  <div class="col-md-11">
    <div class="row form-row" dir="rtl">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h1>فهرست پرونده ها</h1>
          </div>
          <div class="card-body">
            <table class=" table tablesorter text-center">
              <thead class=" text-primary">
              <tr>
                <th class=" text-center">ردیف</th>
                <th class=" text-center">شناسه اقامت</th>
                <th class=" text-center">نام شخص</th>
                <th class=" text-center">تابعیت شخص</th>
                <th class=" text-center">تاریخ اخذ اقامت</th>
                <th class=" text-center">اصلاح پرونده</th>
                <th class=" text-center">ابطال اقامت</th>
                <th class=" text-center">مشاهده اطلاعات</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let residences of data; let indexOf = index">
                <th class=" text-center">{{indexOf}}</th>
                <th class=" text-center">{{residences.id}}</th>
                <th class=" text-center">{{residences.firstName}} &nbsp; {{residences.lastName}}</th>
                <th class=" text-center">{{residences.nation}}</th>
                <th class=" text-center">{{residences.date}}</th>
                <th class=" text-center"><span class="tim-icons icon-pencil"></span></th>
                <th class=" text-center"><span class="tim-icons icon-simple-remove"></span></th>
                <th class=" text-center"><span class="tim-icons icon-badge" (click)="get_residence_detail(residences.id)"></span></th>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

