/* You can add global styles to this file, and also import other style files */
.text-center {
  text-align: center;
}

@font-face {
  font-family: 'Neda-Custom';
  src: url("assets/fonts/Mj_Neda_0.ttf");
}

body {
  font-family: Neda-Custom!important;
  font-size: 15px!important;
}

label {
  font-size: 15px!important;
}

button {
  font-family: Neda-Custom!important;
  font-size: 15px!important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
