/* You can add global styles to this file, and also import other style files */
.text-center {
  text-align: center;
}

@font-face {
  font-family: 'Neda-Custom';
  src: url("assets/fonts/Mj_Neda_0.ttf");
}

body {
  font-family: Neda-Custom!important;
  font-size: 15px!important;
}

label {
  font-size: 15px!important;
}

button {
  font-family: Neda-Custom!important;
  font-size: 15px!important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


@media print {
  .sidebar {
    display: none !important;
  }

  .card-footer {
    display: none !important;
  }

  .navbar-collapse .collapse {
    display: none !important;
  }

  .content  .card .card-body .card-header .card-footer {
    width: 100%;
  }

  .card-body {
    text-align: justify !important;
  }

  .main-panel .content {
    padding: 20px !important;
  }

  .footer {
    display: none !important;
  }

  .navbar {
    display: none !important;
  }

  .main-panel[data="blue"] {
    border-top: none !important;
  }

  .card-header {
    display: none !important;
  }
}
