<div class=" content">
  <div class=" row">
    <div class="col-md-1"></div>
    <div class=" col-md-5">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">نامه های ارسالی من</h4>
        </div>
        <div class="text-center card-body">
          <ngb-alert [type]="'info'" [dismissible]="false">
            <span> نامه ارسالی به آقای لاجوردی  </span>
          </ngb-alert>
          <ngb-alert [type]="'info'" [dismissible]="false">
            <span> نامه ارسالی به آقای لاجوردی  </span>
          </ngb-alert>
        </div>
      </div>
    </div>
    <div class="text-center col-md-5">
      <div class=" card">
        <div class="card-header">
          <h4 class="card-title">نامه های دریافتی من</h4>
        </div>
        <div class=" card-body">

          <ngb-alert [type]="'info'" [dismissible]="false" *ngFor="let notice of notifyList">
            <span (click)="open_notify(notice.notify)" [routerLink]="['/view-sent-paper/'+notice.id]"> {{notice.text}} </span>
          </ngb-alert>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
