<div class=" content">
  <div class=" row" dir="rtl">
    <div class="col-md-1"></div>
    <div class="col-md-11">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">لیست نامه های ورودی</h4>
        </div>
        <div class=" card-body">
          <div class=" table-responsive">
            <table class=" table tablesorter text-center" id="">
              <thead class=" text-primary">
              <tr>
                <th class=" text-center">ردیف</th>
                <th class=" text-center">شماره نامه</th>
                <th class=" text-center">سازمان ارسال کننده</th>
                <th class=" text-center">موضوع نامه</th>
                <th class=" text-center">تصویر نامه</th>
              </tr>
              </thead>
              <tbody>
                <tr mdbTableCol *ngFor="let el of elements; let indexOf=index">
                  <th class=" text-center" >{{indexOf}}</th>
                  <td class=" text-center" >{{el.id}}</td>
                  <td class=" text-center" >{{el.organization}}</td>
                  <td class=" text-center" >{{el.subject}}</td>
                  <td class=" text-center"><a class="btn btn-default" href="{{el.image}}" target="_blank">مشاهده</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
