
<div class=" content" dir="rtl">
  <div class=" row">
    <div class="col-md-1"></div>
    <div class=" col-md-11">
      <div class="text-right card">
        <div class="text-right card-header"><h5 class=" title">تنظیمات کاربران</h5></div>
        <div class="card-body">
          <form>
            <div class="row form-row">
              <div class="col">
                <div class=" form-group">
                  <mat-form-field>
                    <label style="font-family: Neda-Custom!important; font-size: 15px;">لیست کاربران</label>
                    <mat-select multiple style="width: 100%">
                      <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="col">
                <div class="from-group">
                  <mat-form-field>
                    <label style="font-family: Neda-Custom!important; font-size: 15px;">لیست دسترسی</label>
                    <mat-select multiple style="width: 100%">
                      <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-2">
                <div class="from-group">
                  <label>&nbsp;</label>
                  <i class="tim-icons icon-simple-add form-control"></i>
                </div>
              </div>
            </div>
            <div class="row form-row">
              <div class=" col">
                <div class=" form-group">
                  <div class=" form-group">
                    <label> نام </label>
                    <input class="form-control">
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="from-group">
                  <div class=" form-group">
                    <label> نام خانوادگی </label>
                    <input class="form-control">
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="from-group">
                  <div class=" form-group">
                    <label> شماره موبایل </label>
                    <input class="form-control">
                  </div>
                </div>
              </div>
            </div>
            <div class="row form-row">
              <div class=" col-md-4">
                <div class=" form-group">
                  <div class=" form-group">
                    <label> آدرس ایمیل </label>
                    <input class="form-control">
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="from-group">
                  <div class=" form-group">
                    <label> رمز عبور </label>
                    <input class="form-control">
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="from-group">
                  <div class=" form-group">
                    <label>&nbsp;</label>
                    <button class=" btn btn-fill btn-danger" style="width: 100%; margin-top: -3px;" type="submit">ذخیره کاربر</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
<!--    <div class="col-md-2"></div>-->
  </div>
</div>
