
<div class=" content" dir="rtl">
  <div class=" row">
    <div class="col-md-1"></div>
    <div class=" col-md-11">
      <div class="text-right card">
        <div class="text-right card-header"><h5 class=" title">تنظیمات کاربران</h5></div>
        <div class="card-body">
          <form>
            <div class="row form-row">
              <div class="col-5">
                <div class=" form-group">
                  <mat-form-field style="width: 80%">
                    <label style="font-family: Neda-Custom!important; font-size: 15px;">لیست کاربران</label>
                    <mat-select multiple style="width: 100%" [(ngModel)]="userPermission.userid" name="userid">
                      <mat-option *ngFor="let user of userList" [value]="user.id">{{user.first_name}} {{user.last_name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-5">
                <div class="from-group">
                  <mat-form-field style="width: 80%">
                    <label style="font-family: Neda-Custom!important; font-size: 15px;">لیست دسترسی</label>
                    <mat-select multiple style="width: 100%"  [(ngModel)]="userPermission.permid" name="permid">
                      <mat-option *ngFor="let topping of permissionList" [value]="topping.id" >{{topping.text}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-2">
                <div class="from-group">
                  <label>&nbsp;</label>
                  <i class="tim-icons icon-simple-add form-control" (click)="setPermissionForUsers()"></i>
                </div>
              </div>
            </div>
            <div class="row form-row">
              <div class=" col">
                <div class=" form-group">
                  <div class=" form-group">
                    <label> نام </label>
                    <input class="form-control" name="first_name" [(ngModel)]="user.first_name">
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="from-group">
                  <div class=" form-group">
                    <label> نام خانوادگی </label>
                    <input class="form-control" name="last_name" [(ngModel)]="user.last_name">
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="from-group">
                  <div class=" form-group">
                    <label> شماره موبایل </label>
                    <input class="form-control" name="cellphone" [(ngModel)]="user.cellphone">
                  </div>
                </div>
              </div>
            </div>
            <div class="row form-row">
              <div class=" col-md-4">
                <div class=" form-group">
                  <div class=" form-group">
                    <label> آدرس ایمیل </label>
                    <input class="form-control" name="email" [(ngModel)]="user.email">
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="from-group">
                  <div class=" form-group">
                    <label> رمز عبور </label>
                    <input class="form-control" name="password" [(ngModel)]="user.password">
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="from-group">
                  <div class=" form-group">
                    <label>&nbsp;</label>
                    <button class=" btn btn-fill btn-secondry" style="width: 100%; margin-top: -3px;" type="submit" (click)="createUser()">ذخیره کاربر</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
