
<div class=" content" dir="rtl">
  <div class=" row">
    <div class="col--md-1"></div>
    <div class=" col-md-9">
      <div class="text-right card">
        <div class="text-right card-header"><h5 class=" title">تنظیمات مکاتبات</h5></div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class=" col-md-6 pr-md-1">
                <div class=" form-group">
                  <label> ایجاد گروه </label>
                  <input class="form-control">
                </div>
              </div>
              <div class="col-md-2">
                <div class="from-group">
                  <label>&nbsp;</label>
                  <i class="tim-icons icon-simple-add form-control"></i>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
