<div class="content" dir="rtl">
  <div class="row">
    <div class="col-md-12">
      <div class="card text-right">
        <div class="card-header">
          <h1>فهرست جلسات</h1>
        </div>
        <div class="card-body">
          <div class="form-row">
            <div class="col">
              <div class="table-responsive">
                <table class=" table tablesorter text-center" id="">
                  <thead class=" text-primary">
                  <tr>
                    <th class=" text-center">ردیف</th>
                    <th class=" text-center">شماره جلسه</th>
                    <th class=" text-center">موضوع</th>
                    <th class=" text-center">تاریخ</th>
                    <th class=" text-center">مکان</th>
                    <th class=" text-center">جزییات</th>
                  </tr>
                  </thead>
                  <tbody *ngFor="let atabe of atabeData; let indexOf=index">
                    <td class=" text-center">{{indexOf}}</td>
                    <td class=" text-center">{{atabe.id}}</td>
                    <td class=" text-center">{{atabe.subject}}</td>
                    <td class=" text-center">{{atabe.date}} &nbsp;&nbsp; {{atabe.time}}</td>
                    <td class=" text-center">{{atabe.city}}</td>
                    <td class=" text-center">
                      <span class="tim-icons icon-badge" (click)="open(detailModal, atabe.id)"></span>
                    </td>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #detailModal let-modal dir="rtl" style="text-align: right">
  <div class="modal-header" dir="rtl">
    <h4 class="modal-title" id="modal-basic-title">جزییات جلسه</h4>
    <button type="button" class="close" aria-label="Close" style="text-align: left;" dir="ltr" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" dir="rtl" style="text-align: right;">
    <div class="row form-row">
      <div class="col">
        <ul>
          <li> توضیحات: {{selectedData[0].description}}</li>
          <li> پیگیری ها: {{selectedData[0].followUps}}</li>
          <li> آدرس: {{selectedData[0].location}}</li>
          <li> اعضا:{{selectedData[0].parts}}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="modal-footer" style="text-align: right;" dir="rtl">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">بستن</button>
  </div>
</ng-template>
