<div class="content" dir="rtl">
  <div class="row">
    <div class="col-md-12">
      <div class="card text-right">
        <div class="card-header">
          <h1>فهرست جلسات</h1>
        </div>
        <div class="card-body">
          <div class="form-row">
            <div class="col">
              <div class="table-responsive">
                <table class=" table tablesorter text-center" id="">
                  <thead class=" text-primary">
                  <tr>
                    <th class=" text-center">ردیف</th>
                    <th class=" text-center">شماره جلسه</th>
                    <th class=" text-center">موضوع</th>
                    <th class=" text-center">تاریخ</th>
                    <th class=" text-center">مکان</th>
                    <th class=" text-center">جزییات</th>
                  </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #detailModal let-modal dir="rtl" style="text-align: right">
  <div class="modal-header" dir="rtl">
    <h4 class="modal-title" id="modal-basic-title">جزییات جلسه</h4>
    <button type="button" class="close" aria-label="Close" style="text-align: left;" dir="ltr" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" dir="rtl" style="text-align: right;">
    <div class="row form-row">

    </div>
  </div>
  <div class="modal-footer" style="text-align: right;" dir="rtl">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">بستن</button>
  </div>
</ng-template>
