
<div class=" content" dir="rtl">
  <div class=" row">
    <div class="col-md-1"></div>
    <div class=" col-md-11">
      <div class="text-right card">
        <div class="text-right card-header"><h5 class=" title">تنظیمات مکاتبات</h5></div>
        <div class="card-body">
          <form>
            <div class="row form-row">
              <div class="col-8">
                <div class=" form-group">
                  <label> ایجاد مکان دریافت نامه </label>
                  <input class="form-control" [(ngModel)]="create_location.name" name="name">
                </div>
              </div>
              <div class="col-2">
                <div class="from-group">
                  <label>&nbsp;</label>
                  <i class="tim-icons icon-simple-add form-control" (click)="create_send_location()"></i>
                </div>
              </div>
              <div class="col-2">
                <div class="from-group">
                  <label>&nbsp;</label>
                  <i  (click)="open(mymodal, 'لیست مکان ها دریافت نامه')" class="tim-icons icon-bullet-list-67 form-control"></i>
                </div>
              </div>
            </div>
            <div class="row form-row">
              <div class="col-8">
                <div class=" form-group">
                  <label> موضوع نامه </label>
                  <input class="form-control" [(ngModel)]="create_subject.text" name="text">
                </div>
              </div>
              <div class="col-2">
                <div class="from-group">
                  <label>&nbsp;</label>
                  <i class="tim-icons icon-simple-add form-control" (click)="create_send_subject()"></i>
                </div>
              </div>
              <div class="col-2">
                <div class="from-group">
                  <label>&nbsp;</label>
                  <i (click)="open(mymodal, 'لیست موضوعات نامه ها')" class="tim-icons icon-bullet-list-67 form-control"></i>
                </div>
              </div>
            </div>
            <div class="row form-row">
              <div class="col-4">
                <div class=" form-group">
                  <label> شخص دریافت نامه </label>
                  <input [(ngModel)]="create_user_receive.name" name="name" class="form-control">
                </div>
              </div>
              <div class="col-4">
                <div class=" form-group">
                  <label> انتخاب مکان </label>
                  <select class="form-control" [(ngModel)]="create_user_receive.location" name="location">
                    <option style="background: transparent; color: black"> انتخاب کنید</option>
                    <option *ngFor="let item3 of list_location"
                            class=" form-control" [value]="item3.id"
                            style="background: transparent; color: black">{{item3.name}}</option>
                  </select>
                </div>
              </div>
              <div class="col-2">
                <div class="from-group">
                  <label>&nbsp;</label>
                  <i class="tim-icons icon-simple-add form-control" (click)="create_receive_user()"></i>
                </div>
              </div>
              <div class="col-2">
                <div class="from-group">
                  <label>&nbsp;</label>
                  <i (click)="open(mymodal, 'لیست اشخاص دریافت کننده نامه')" class="tim-icons icon-bullet-list-67 form-control"></i>
                </div>
              </div>
            </div>
            <div class="row form-row">
              <div class="col-4">
                <div class="">
                  <label> تصویر امضا </label>
                  <input #imageInput
                         type="file"
                         accept="image/*"
                         (change)="processFile(imageInput)"
                         class="form-control"
                  />
                </div>
              </div>
              <div class="col-4">
                <div class=" form-group">
                  <label> شخص امضا کننده </label>
                  <select class="form-control" [(ngModel)]="create_user_assign.id" name="location">
                    <option style="background: transparent; color: black"> انتخاب کنید</option>
                    <option *ngFor="let item2 of list_user_assign"
                            class=" form-control" [value]="item2.id"
                            style="background: transparent; color: black">{{item2.first_name}}&nbsp;{{item2.last_name}}</option>
                  </select>
                </div>
              </div>
              <div class="col-2">
                <div class="from-group">
                  <label>&nbsp;</label>
                  <i class="tim-icons icon-simple-add form-control" (click)="create_send_user_assign()"></i>
                </div>
              </div>
              <div class="col-2">
                <div class="from-group">
                  <label>&nbsp;</label>
                  <i (click)="open(mymodal, 'لیست اشخاص امضا کننده نامه')" class="tim-icons icon-bullet-list-67 form-control"></i>
                </div>
              </div>
            </div>
            <div class="row form-row">
              <div class="col">
                <div class=" form-group">
                  <label> انتخاب موضوع متن </label>
                  <select class="form-control" [(ngModel)]="create_pre_text.subject" name="location">
                    <option style="background: transparent; color: black"> انتخاب کنید </option>
                    <option *ngFor="let item4 of list_subject"
                            class=" form-control" [value]="item4.id"
                            style="background: transparent; color: black">{{item4.text}}</option>
                  </select>
                </div>
              </div>
              <div class="col-2">
                <div class="from-group">
                  <label>&nbsp;</label>
                  <i class="tim-icons icon-simple-add form-control" (click)="crete_pre_text()"></i>
                </div>
              </div>
            </div>
            <div class="row form-row">
              <div class="col">
                <div class=" form-group">
                  <label> متن پیش نویس نامه </label>
                  <angular-editor [(ngModel)]="create_pre_text.text" [config]="editorConfig" name="pre_text"></angular-editor>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <ng-template #mymodal let-modal dir="rtl" style="text-align: right">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{ title_str }}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="row">
      <div class="col">
        <div class="modal-body">
          <ul class="text-right" style="margin-right: 20px;" >
            <li style="color: black; list-style: disc; direction: rtl;"
                *ngFor="let list_content of modal_body"
            >{{list_content}}</li>
          </ul>
        </div>
      </div>
    </div>
  </ng-template>
</div>
