
<div class=" content" dir="rtl">
  <div class=" row">
    <div class="col--md-1"></div>
    <div class=" col-md-9">
      <div class="text-right card">
        <div class="text-right card-header"><h5 class=" title">تنظیمات مکاتبات</h5></div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class=" col-md-6 pr-md-1">
                <div class=" form-group">
                  <label> ایجاد مکان دریافت نامه </label>
                  <input class="form-control">
                </div>
              </div>
              <div class="col-md-2">
                <div class="from-group">
                  <label>&nbsp;</label>
                  <i class="tim-icons icon-simple-add form-control"></i>
                </div>
              </div>
              <div class="col-md-2">
                <div class="from-group">
                  <label>&nbsp;</label>
                  <i class="tim-icons icon-bullet-list-67 form-control"></i>
                </div>
              </div>
            </div>
            <div class="row">
              <div class=" col-md-6 pr-md-1">
                <div class=" form-group">
                  <label> شخص دریافت نامه </label>
                  <input class="form-control">
                </div>
              </div>
              <div class="col-md-2">
                <div class="from-group">
                  <label>&nbsp;</label>
                  <i class="tim-icons icon-simple-add form-control"></i>
                </div>
              </div>
              <div class="col-md-2">
                <div class="from-group">
                  <label>&nbsp;</label>
                  <i class="tim-icons icon-bullet-list-67 form-control"></i>
                </div>
              </div>
            </div>
            <div class="row">
              <div class=" col-md-6 pr-md-1">
                <div class=" form-group">
                  <label> موضوع نامه </label>
                  <input class="form-control">
                </div>
              </div>
              <div class="col-md-2">
                <div class="from-group">
                  <label>&nbsp;</label>
                  <i class="tim-icons icon-simple-add form-control"></i>
                </div>
              </div>
              <div class="col-md-2">
                <div class="from-group">
                  <label>&nbsp;</label>
                  <i class="tim-icons icon-bullet-list-67 form-control"></i>
                </div>
              </div>
            </div>
            <div class="row">
              <div class=" col-md-6 pr-md-1">
                <div class=" form-group">
                  <label> شخص امضا کننده نامه </label>
                  <input class="form-control">
                </div>
              </div>
              <div class="col-md-2">
                <div class="from-group">
                  <label>&nbsp;</label>
                  <i class="tim-icons icon-simple-add form-control"></i>
                </div>
              </div>
              <div class="col-md-2">
                <div class="from-group">
                  <label>&nbsp;</label>
                  <i class="tim-icons icon-bullet-list-67 form-control"></i>
                </div>
              </div>
            </div>
            <div class="row">
              <div class=" col-md-6 pr-md-1">
                <div class=" form-group">
                  <label> متن پیش نویس نامه </label>
                  <select class="form-control">
                    <option class=" form-control" style="background: transparent; color: black">صلوات</option>
                    <option class=" form-control" style="background: transparent; color: black">صلوات</option>
                    <option class=" form-control" style="background: transparent; color: black">صلوات</option>
                  </select>
                </div>
              </div>
              <div class="col-md-2">
                <div class="from-group">
                  <label>&nbsp;</label>
                  <i class="tim-icons icon-simple-add form-control"></i>
                </div>
              </div>
              <div class="col-md-2">
                <div class="from-group">
                  <label>&nbsp;</label>
                  <i class="tim-icons icon-bullet-list-67 form-control"></i>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class=" card-footer">
          <button class=" btn btn-fill btn-danger" type="submit" >ثبت نامه</button>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
