
<div class=" content" dir="rtl">
  <div class=" row">
    <div class="col-md-1"></div>
    <div class=" col-md-11">
      <div class="text-right card">
        <div class="text-right card-header"><h5 class=" title">تنظیمات مکاتبات</h5></div>
        <div class="card-body">
          <form>
            <div class="row form-row">
              <div class="col-8">
                <div class=" form-group">
                  <label> ایجاد مکان دریافت نامه </label>
                  <input class="form-control">
                </div>
              </div>
              <div class="col-2">
                <div class="from-group">
                  <label>&nbsp;</label>
                  <i class="tim-icons icon-simple-add form-control"></i>
                </div>
              </div>
              <div class="col-2">
                <div class="from-group">
                  <label>&nbsp;</label>
                  <i  (click)="open(mymodal, 'لیست مکان ها دریافت نامه')" class="tim-icons icon-bullet-list-67 form-control"></i>
                </div>
              </div>
            </div>
            <div class="row form-row">
              <div class="col-8">
                <div class=" form-group">
                  <label> شخص دریافت نامه </label>
                  <input class="form-control">
                </div>
              </div>
              <div class="col-2">
                <div class="from-group">
                  <label>&nbsp;</label>
                  <i class="tim-icons icon-simple-add form-control"></i>
                </div>
              </div>
              <div class="col-2">
                <div class="from-group">
                  <label>&nbsp;</label>
                  <i (click)="open(mymodal, 'لیست اشخاص دریافت کننده نامه')" class="tim-icons icon-bullet-list-67 form-control"></i>
                </div>
              </div>
            </div>
            <div class="row form-row">
              <div class="col-8">
                <div class=" form-group">
                  <label> موضوع نامه </label>
                  <input class="form-control">
                </div>
              </div>
              <div class="col-2">
                <div class="from-group">
                  <label>&nbsp;</label>
                  <i class="tim-icons icon-simple-add form-control"></i>
                </div>
              </div>
              <div class="col-2">
                <div class="from-group">
                  <label>&nbsp;</label>
                  <i (click)="open(mymodal, 'لیست موضوعات نامه ها')" class="tim-icons icon-bullet-list-67 form-control"></i>
                </div>
              </div>
            </div>
            <div class="row form-row">
              <div class="col-8">
                <div class=" form-group">
                  <label> شخص امضا کننده نامه </label>
                  <input class="form-control">
                </div>
              </div>
              <div class="col-2">
                <div class="from-group">
                  <label>&nbsp;</label>
                  <i class="tim-icons icon-simple-add form-control"></i>
                </div>
              </div>
              <div class="col-2">
                <div class="from-group">
                  <label>&nbsp;</label>
                  <i (click)="open(mymodal, 'لیست اشخاص امضا کننده نامه')" class="tim-icons icon-bullet-list-67 form-control"></i>
                </div>
              </div>
            </div>
            <div class="row form-row">
              <div class="col-8">
                <div class=" form-group">
                  <label> متن پیش نویس نامه </label>
                  <select class="form-control">
                    <option class=" form-control" style="background: transparent; color: black">صلوات</option>
                    <option class=" form-control" style="background: transparent; color: black">صلوات</option>
                    <option class=" form-control" style="background: transparent; color: black">صلوات</option>
                  </select>
                </div>
              </div>
              <div class="col-2">
                <div class="from-group">
                  <label>&nbsp;</label>
                  <i class="tim-icons icon-simple-add form-control"></i>
                </div>
              </div>
              <div class="col-2">
                <div class="from-group">
                  <label>&nbsp;</label>
                  <i (click)="open(mymodal, 'لیست پیش نویس ها')" class="tim-icons icon-bullet-list-67 form-control"></i>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <ng-template #mymodal let-modal dir="rtl" style="text-align: right">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{ title_str }}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="row">
      <div class="col">
        <div class="modal-body">
          <ul class="text-right" style="margin-right: 20px;">
            <li style="color: black; list-style: disc; direction: rtl;">no 1</li>
            <li style="color: black; list-style: disc; direction: rtl;">no 1</li>
            <li style="color: black; list-style: disc; direction: rtl;">no 1</li>
            <li style="color: black; list-style: disc; direction: rtl;">no 1</li>
            <li style="color: black; list-style: disc; direction: rtl;">no 1</li>
            <li style="color: black; list-style: disc; direction: rtl;">no 1</li>
            <li style="color: black; list-style: disc; direction: rtl;">no 1</li>
          </ul>
        </div>
      </div>
    </div>
  </ng-template>
</div>
